form.normal-form {
  margin: 10px;
}

.part-1 {
  width: 100%;
  padding: 5%;
}
.part-1 > * {
  width: 70%;
}
mat-radio-group mat-radio-button {
  margin-left: 5px;
}
.example-radio-button {
  margin: 5px;
}
.btn-row button {
  margin: 5px;
}
.container {
  width: 600px;
  height: 320px;
}
