.part-1 {
  width: 100%;
  padding: 5px;
}
.part-1 > * {
  width: 70%;
}
.part-2 {
  width: 100%;
  padding: 7px;
}
.part-2 > * {
  width: 70%;
}
mat-radio-group mat-radio-button {
  margin-left: 5px;
}
.example-radio-button {
  margin: 5px;
}
#lbl {
  font-weight: bold;
}
