<h1 style="text-align: center; font-weight: bold">FULL PERSONAL DETAILS..</h1>

<button mat-raised-button color="accent" (click)="onCreate()">Add</button>
<br />
<br />
<table style="text-align: center">
  <thead>
    <th>Name</th>
    <th>Father</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Gender</th>
    <th>City</th>
    <th>IsPermanent</th>
  </thead>
  <tr *ngFor="let emp of emplists">
    <td>{{ emp.Name }}</td>
    <td>{{ emp.Father }}</td>
    <td>{{ emp.Email }}</td>
    <td>{{ emp.Phone }}</td>
    <td>{{ emp.Gender }}</td>
    <td>{{ emp.City }}</td>
    <td>{{ emp.IsPermanent }}</td>
  </tr>
</table>
