<div class="container">
  <h1 style="text-align: center">Reactive Forms</h1>
  <div class="form-group" [formGroup]="reactiveForm">
    <mat-grid-list cols="2" rowHeight="500px">
      <mat-grid-tile>
        <div class="part-1">
          <!-- Name -->
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Name"
              formControlName="Name"
              required
            />
            <mat-hint></mat-hint>
          </mat-form-field>
          <br />
          <!-- Name -->
          <!-- Password -->
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder="Password"
              formControlName="Password"
              required
            />
            <mat-hint></mat-hint>
          </mat-form-field>

          <!-- Password -->
          <!-- Father -->
          <mat-form-field appearance="outline">
            <mat-label>Father</mat-label>
            <input matInput placeholder="Father" formControlName="Father" />
            <mat-hint></mat-hint> </mat-form-field
          ><br />
          <!-- Password -->
          <!-- Email -->
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Email"
              formControlName="Email"
              required
            />
            <mat-hint></mat-hint>
          </mat-form-field>
          <!-- Email -->
          <!-- Phone-->
          <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input
              matInput
              placeholder="Phone"
              formControlName="Phone"
              required
            />
            <mat-hint></mat-hint>
          </mat-form-field>
          <!-- Phone -->
        </div>
      </mat-grid-tile>
      <!-- Gender -->
      <mat-grid-tile>
        <div class="part-2">
          <label id="lbl">Gender</label><br />
          <mat-radio-group
            formControlName="Gender"
            aria-labelledby="example-radio-group-label"
          >
            <mat-radio-button class="example-radio-button" value="1"
              >Male</mat-radio-button
            >
            <mat-radio-button value="2">FeMale</mat-radio-button>
            <mat-radio-button value="3">Others</mat-radio-button>
          </mat-radio-group>
          <!-- Gender -->
          <!-- city -->
          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <mat-select formControlName="City">
              <mat-option *ngFor="let city of cities" value="{{ city.id }}">{{
                city.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- city -->
          <!-- DOB -->
          <mat-form-field appearance="outline">
            <mat-label>Select DOB</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="DOB"
              type="datetime"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <!-- DOB -->
          <!-- age -->
          <mat-form-field appearance="outline">
            <mat-label>AGE</mat-label>
            <input matInput placeholder="Password" formControlName="Age" />
            <mat-hint></mat-hint>
          </mat-form-field>
          <!-- age -->

          <!-- PEr -->
          <mat-checkbox class="example-margin">Check me!</mat-checkbox>
          <!-- PEr -->
          <button
            mat-raised-button
            color="primary"
            style="width: 35%"
            [disabled]="reactiveForm.invalid"
          >
            Submit
          </button>
          <button
            mat-raised-button
            color="warn"
            style="width: 35%"
            (click)="reactiveForm.reset()"
          >
            Reset
          </button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
